<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/editData" method="post">
      <input type="hidden" name="id" value="<%= ans.id%>" placeholder="id" />
      <input type="text" value="<%= ans.id%>" readonly placeholder="id" />
      <input
        type="text"
        name="name"
        value="<%= ans.name%>"
        placeholder="name"
      />
      <input type="submit" />
    </form>
  </body>
</html>
