<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/formPage" method="post">
        <input type="text" name="id">
        <input type="text" name="name">
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
        </tr>

        <% student.map((s,i)=>{%>
            <tr>
                <td><%= s.id %></td>
                <td><%= s.name %></td>
                <td><a href="/delete?id=<%= s.id %>">Delete</a></td>
                <td><a href="/edit?id=<%= s.id %>">Edit</a></td>
            </tr>
        <%})%>
    </table>
</body>
</html>